extends ../layouts/layout.pug

block main
    .main-wrapper
        .main-screen.bg_dark-blue.color_white
            .fullscreen-bg
               video.fullscreen-bg__video(loop='', muted='', autoplay='', poster='')
                  source(src=content.video_header, type='video/mp4')
                  source(src='video/video.webm', type='video/webm')
            .main
                include ../include/header.pug
                .main-screen__content
                    .main-screen__left
                        .desc-screen.fw_medium #{content.header_1_2}
                        .mt25.main-screen__title2
                            h1.font_size54 #{content.header_1_1}
                        .main-screen__title3.mt10
                            h3.font_size22 #{content.header_1_3}
                        .desc.mt30
                            img.desc__icon(src='/images/icons/ribbon.png', alt='')
                            p.font_size14.fade05.fw_medium
                                | #{content.p_1} 
                                br
                                | #{content.p_1}
                    .main-screen__right
                        .play-box
                            .play.play-box__thumb
                                .play__animate
                                    .play__circle
                                    .play__circle
                                    .play__circle
                                    .play__circle
                                img.play__img(src='/images/main/video-thumb1.jpg', alt='')
                                .play__arrow.icon-play.js-play
                                .play__video
                                    .play__iframe
                                        iframe(src='https://www.youtube.com/embed/gd1RtXXg2ag?autoplay=1&loop=1&rel=0&mute=1&playlist=gd1RtXXg2ag', allow='autoplay; encrypted-media;', allowfullscreen='')
                            .fw_medium.font_size14.fade05
                                | #{content.text_near_present_1} 
                                br
                                | #{content.text_near_present_2} 
                                br
                                | #{content.text_near_present_3}
                        .mt55
                            .font_size14.fw_medium Получите подборку лучших предложений за #{current_month}
                            .year.mt10
                                .font_size120.color_yelow= current_year
                                .year__text.color_yelow
                                    .year__medal.icon-medal
                                    .font_size22.ff_trajan.fw_medium ГОДА
                            .mt50.main-screen__magazine
                                img.main-screen__magazine-img(src='/images/main/magazine.png', alt='')
                                button.button.button_big.button_blue.button_blue1.js-scroll-to(data-href='#quiz')
                                    | #{content.first_button}
                                    span.button__arrow.icon-arrow.icon-arrow_rotate
            .quiz-screen
                .main
                    img.quiz-screen__dots(src='/images/quiz-screen/dots1.png', alt='')
                    #quiz.head-screen
                        h2.font_size44
                            | #{content.header_2_1} 
                            br
                            | #{content.header_2_2} 
                            br
                            | #{content.header_2_3}
                        .mt40
                            p.font_size14.fw_medium
                                | #{content.text_before_test_1} 
                                br
                                | #{content.text_before_test_2}
                        .quiz-screen__head.mt10
                            .number-text.color_yelow
                                .font_size120.number-text__number 100%
                                .font_size22.ff_trajan.fw_medium
                                    | #{content.text_before_test_3} 
                                    br
                                    | #{content.text_before_test_4} 
                                    br
                                    | #{content.text_before_test_5}
                            .desc
                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                p.font_size14.fade05.fw_medium
                                    | #{content.quations_1} 
                                    span.js-count-quiz 5
                                    br
                                    | #{content.quations_2}
                    .mt60.quiz-scale
                        .quiz-scale__load
                            .quiz-scale__arrow.icon-play
                    .quiz-screen__row.row
                        .col-sm-4.quiz-screen__left
                            .quiz-screen__form0
                                h3.font_size22 Пройдите тест до конца
                                .mt15
                                    p.font_size14.fade05.fw_medium
                                        | #{content.text_left_near_test_1} 
                                        br
                                        | #{content.text_left_near_test_2}
                                img.quiz-screen__key.mt30(src=content.key_img, alt='')
                            .quiz-screen__form1.mt50
                                h3.font_size22 #{content.text_left_near_test_3}
                                .mt15
                                    p.font_size14.fade05.fw_medium #{content.text_left_near_test_3}
                                form.ajax-form.mt35(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                    input(type='hidden', name='subj', value='Заявка с формы: #{content.text_left_near_test_3}')
                                    .input-box
                                        input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                        label.input-box__icon.icon-telephone
                                    <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="dark" data-callback="RecaptchaSuccess"></div>
                                    button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='call', disabled) Помогите выбрать ответ
                        .col-sm-8.quiz-screen__right
                            .quiz
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Выберите тип #{content.block_under_ask_quations_title_1_3}: 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Квартира')
                                                    span.quiz-radio__btn.js-next-step-click Квартира
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Пентхаус')
                                                    span.quiz-radio__btn.js-next-step-click Пентхаус
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Дом')
                                                    span.quiz-radio__btn.js-next-step-click Дом
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Аппартаменты')
                                                    span.quiz-radio__btn.js-next-step-click Аппартаменты
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Для каких целей планируете покупку? 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='target', value='Для проживания')
                                                    span.quiz-radio__btn.js-next-step-click Для проживания
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='target', value='Для инвестиций')
                                                    span.quiz-radio__btn.js-next-step-click Для инвестиций
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='target', value='Для сдачи в аренду')
                                                    span.quiz-radio__btn.js-next-step-click Для сдачи в аренду
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Какое расположение ЖК рассматриваете? 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='location', value='Ближе к морю')
                                                    span.quiz-radio__btn.js-next-step-click Ближе к морю
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='location', value='Ближе к центру города')
                                                    span.quiz-radio__btn.js-next-step-click Ближе к центру города
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 На какой бюджет рассчитываете? 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='budget', value='До 5 млн')
                                                    span.quiz-radio__btn.js-next-step-click До 5 млн
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='budget', value='До 10 млн')
                                                    span.quiz-radio__btn.js-next-step-click До 10 млн
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='budget', value='От 10 млн')
                                                    span.quiz-radio__btn.js-next-step-click От 10 млн
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Нужна ли рассрочка или ипотека?
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='kredit', value='Нужна рассрочка')
                                                    span.quiz-radio__btn.js-next-step-click Нужна рассрочка
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='kredit', value='Нужна ипотека')
                                                    span.quiz-radio__btn.js-next-step-click Нужна ипотека
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='kredit', value='Не нужно')
                                                    span.quiz-radio__btn.js-next-step-click Не нужно
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz-form
                                        .desc-screen.fw_medium Все готово. Остался последний шаг
                                        h2.font_size44 Получите подборку лучших объектов г. Сочи на свою почту
                                        .mt20
                                            .font_size22.fw_medium.ff_trajan + БОНУСЫ:
                                        .bonus-list
                                            .bonus-list__item.desc.mt25
                                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                                p.font_size14.fade05.fw_medium
                                                    | #{content.vy_poluchite_block_1_1} 
                                                    br
                                                    | #{content.vy_poluchite_block_1_2}
                                            .bonus-list__item.desc.mt25
                                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                                p.font_size14.fade05.fw_medium
                                                    | #{content.vy_poluchite_block_2_1} 
                                                    br
                                                    | #{content.vy_poluchite_block_2_2}
                                            .bonus-list__item.desc.mt25
                                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                                p.font_size14.fade05.fw_medium
                                                    | #{content.vy_poluchite_block_3_1} 
                                                    br
                                                    | #{content.vy_poluchite_block_3_2}
                                        .quiz-form__inputs
                                        form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                            input(type='hidden', name='subj', value='Заявка с квиза')
                                            input(type='hidden', name='type', value='Квартира')
                                            input(type='hidden', name='target', value='Для проживания')
                                            input(type='hidden', name='location', value='Ближе к морю')
                                            input(type='hidden', name='budget', value='До 5 млн')
                                            input(type='hidden', name='kredit', value='Нужна рассрочка')
                                            .quiz-form__inputs
                                                .input-box.mt30
                                                    input.input-text.input-text_border(type='text', name='name', required='', data-parsley-errors-messages-disabled='', placeholder='Введите ваше имя')
                                                    label.input-box__icon.icon-user
                                                .input-box.mt30
                                                    input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                                    label.input-box__icon.icon-telephone
                                            <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="dark" data-callback="RecaptchaSuccess"></div>
                                            .quiz-form__bottom
                                                button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='quiz', disabled)
                                                    | Получить подборку
                                                    span.button__arrow.icon-arrow
                                                .polity-box
                                                    .polity-box__dot
                                                    .font_size12.fw_medium.fade05
                                                        | Вы соглашаетесь с условиями 
                                                        br
                                                        | обработки персональных данных 
                                                        br
                                                        a(href='#') ознакомиться
                                .quiz__bottom
                                    .quiz__bottom-item
                                        .quiz__bottom-img
                                            img(src='/images/quiz-screen/calendar.png', alt='')
                                        .quiz__bottom-text
                                            | Все предложения 
                                            br
                                            | актуальны, база 
                                            br
                                            | обновляется каждый день
                                    .quiz__bottom-item
                                        .quiz__bottom-img
                                            img(src='/images/quiz-screen/docs.png', alt='')
                                        .quiz__bottom-text
                                            | Все объекты 
                                            br
                                            | имеют необходимую 
                                            br
                                            | документацию
                                    .quiz__bottom-item
                                        .quiz__bottom-img
                                            img(src='/images/quiz-screen/work.png', alt='')
                                        .quiz__bottom-text
                                            | Работаем со всеми 
                                            br
                                            | застройщиками региона 
                                            br
                                            | на выгодных условия
                    .quiz-screen__form2.mt40
                        h3.font_size22 #{content.text_left_near_test_3}
                        .mt15
                            p.font_size14.fade05.fw_medium #{content.text_left_near_test_3}
                        form.ajax-form.mt35(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                            input(type='hidden', name='subj', value='Заявка с формы: #{content.text_left_near_test_3}')
                            .input-box
                                input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                label.input-box__icon.icon-telephone
                            <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="dark" data-callback="RecaptchaSuccess"></div>
                            button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='call', disabled) Помогите выбрать ответ
                    .agency-catalog
                        img.agency-catalog__dots(src='/images/quiz-screen/dots2.png', alt='')
                        .agency-catalog__content
                            .agency-catalog__left
                                h2.font_size44
                                    | #{content.title_under_test_1} 
                                    br
                                    | #{content.title_under_test_2}
                                .desc.mt30
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | #{content.info_under_catalog_title_1} 
                                        br
                                        | #{content.info_under_catalog_title_2} 
                                        br
                                        | #{content.info_under_catalog_title_3}
                            .agency-catalog__numbers
                                .number-text.color_yelow
                                    .font_size120.number-text__number 448
                                    .font_size22.ff_trajan.fw_medium
                                        | #{content.agency-catalog__numbers_1}
                                        br
                                        | #{content.agency-catalog__numbers_2}
                                //- .number-text.color_yelow
                                    .font_size120.number-text__number 3
                                    .font_size22.ff_trajan.fw_medium
                                        | коттеджных 
                                        br
                                        | поселка
                                //- .number-text.color_yelow
                                    .font_size120.number-text__number 4
                                    .font_size22.ff_trajan.fw_medium
                                        | точечные застройки 
                                        br
                                        | на берегу моря
        //- .cases-screen
            .main
                img.cases-screen__dots(src='/images/cases/dots1.png', alt='')
                .cases-screen__row
                    .cases-screen__left
                        .cases-list-container
                            .cases-list
                                each building in buildings
                                    .cases-list__item
                                        .cases-list__head1.js-case-show
                                            .cases-list__title.ff_trajan.font_size22= building.sBuildingTitle
                                            .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                        .cases-list__hide
                                            .cases-list__row
                                                .cases-list__img
                                                    img(src='/images/cases/gk1.jpg', alt='')
                                                .cases-list__content
                                                    .cases-list__title.ff_trajan.font_size22= building.sBuildingTitle
                                                    .cases-list__options
                                                        .cases-list__option
                                                            .font_size14.fade05.fw_medium 18 квартир
                                                        .cases-list__option
                                                            .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                    .cases-list__price.color_yelow
                                                        .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                    .cases-screen__right
                        .cases-slider
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в #{content.otdel_rukovoditeil_about_2}е: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src=content.golden_img, alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | #{content.text_near_present_1} #{content.text_near_present_2} 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
        .catalog-screen.mt70
            img.catalog-screen__sokol(src='/images/cases/gk_sokol.png', alt='')
            .main
                img.catalog-screen__dots(src='/images/cases/dots2.png', alt='')
                .head-screen
                    .catalog-screen__top
                        .catalog-screen__headline
                            h2.font_size44
                                | #{content.title_about_presentation_1} 
                                br
                                | #{content.title_about_presentation_2}
                            .mt20
                                p.ff_trajan.font_size22 #{content.subtitle_about_presentation}
                        .catalog-screen__desc
                            .desc.mt5
                                img.desc__icon(src=content.golden_img, alt='')
                                p.font_size14.fw_medium.fade05
                                    | #{content.info_right_block_about_presentation}
                    .catalog-screen__center
                        .catalog-screen__form.form-box.form-box_white
                            .form-box__title.ff_trajan.font_size22
                                | #{content.download_form_title_1} 
                                br
                                | #{content.download_form_title_2}
                            form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                input(type='hidden', name='subj', value='Заявка: #{content.download_form_title_1} #{content.download_form_title_2}')
                                .input-box.mt30
                                    input.input-text.input-text_fill(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                    label.input-box__icon.icon-telephone
                                .input-box.mt30(style="margin-bottom: 25px;")
                                    input.input-text.input-text_fill(type='email', name='email', required='', data-parsley-errors-messages-disabled='', placeholder='mail@mail.com')
                                    label.input-box__icon.icon-message
                                <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="light" data-callback="RecaptchaSuccess"></div>
                                .catalog-screen__button
                                    img.catalog-screen__level(src='/images/cases/level1000.png', alt='')
                                    button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='call', disabled)
                                        | #{content.download_form_title_1}
                                        span.button__arrow.icon-arrow
                                .polity-box.mt35
                                    .polity-box__dot
                                    .font_size12.fw_medium.fade05
                                        | Вы соглашаетесь с условиями 
                                        br
                                        | обработки персональных данных 
                                        br
                                        a(href='#') ознакомиться
                        .catalog-screen__catalog-column
                            .sea-catalog
                                .play
                                    .play__animate
                                        .play__circle
                                        .play__circle
                                        .play__circle
                                        .play__circle
                                    a.sea-catalog__icon.icon-book(href='/catalog', target='_blank')
                                center.mt20
                                    .font_size14.color_white.fw_medium
                                        | #{content.link_to_catalog_1} 
                                        br
                                        | #{content.link_to_catalog_2}
        .kredit-screen
            .main
                img.kredit-screen__dots(src='/images/dots_kredit.png', alt='')
                .kredit-screen__headline
                    .desc-screen.fw_medium #{content.help_with_mortgage}
                    .mt20
                        h2.font_size54 #{content.Buy_apartment_title} 
                .kredit-screen__row
                    .kredit-screen__left.mt40
                        .kredit-list-container
                            .kredit-list
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/vtb.png', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/sber.png', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/Raiffeisen_Bank.png', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/tinkoff.png', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/logo-alfabank.png', alt='')
                    .kredit-screen__right
                        .font_size14.fw_medium #{content.mortgage_probability}
                        .number-text.mt10
                            .font_size120.number-text__number.color_yelow 96%
                            .font_size22.ff_trajan.fw_medium
                                | #{content.subtitle_odobrenie_ipoteki_1} 
                                br
                                | #{content.subtitle_odobrenie_ipoteki_2} 
                                br
                                | #{content.subtitle_odobrenie_ipoteki_3}
                        .desc.mt5
                            img.desc__icon(src=content.golden_img, alt='')
                            p.font_size14.fw_medium
                                | #{content.info_ipoteka_1} 
                                br
                                | #{content.info_ipoteka_2}
                        .kredit-economy.mt40
                            .kredit-economy__img
                                img(src=content.money_img, alt='')
                            .kredit-economy__text
                                .font_size22.ff_trajan.fw_medium #{content.subtitle_Kislorod_i_banki}
                        ul.kredit-service.mt15
                            li.kredit-service__item
                                .font_size14.fw_medium #{content.info_block_under_money_img_1}
                            li.kredit-service__item
                                .font_size14.fw_medium #{content.info_block_under_money_img_2}
                            li.kredit-service__item
                                .font_size14.fw_medium #{content.info_block_under_money_img_2}
                        .kredit-bottom.mt60
                            .kredit-bottom__img
                                img(src=content.key_kredit_img, alt='')
                            .kredit-bottom__button
                                button.button.button_big.button_blue.button_blue2.js-popup-show(data-popup-name='js-popup-kredit')
                                    | #{content.button_about_ipoteka}
                                    span.button__arrow.icon-arrow
                                .mt30
                                    .font_size12.fw_medium.fade05
                                        | #{content.info_abot_ipoteka_test}
        .bg_dark-blue
            .apartment-screen
               .main
                  img.apartment-screen__dots(src='/images/apartment/dots.png', alt='')
                  .apartment-screen__top
                     .apartment-screen__headline
                        h2.font_size44 #{content.change_apartments_title}
                        .mt15
                           p.font_size22.ff_trajan
                              | #{content.change_apartments_subtitle}
                     .apartment-screen__desc
                        .desc
                           img.desc__icon(src='/images/icons/ribbon.png', alt='')
                           p.font_size14.fade05.fw_medium
                              | #{content.change_apartments_title_right_block_1} 
                              br
                              | #{content.change_apartments_title_right_block_1}
                  .before-after.mt55
                     .before-after__area.js-before-after
                        .before-after__preview.before-after__preview_before
                           img(src='/images/apartment/after_img.jpg', alt='')
                           img(src='/images/apartment/after_img_m.jpg', alt='')
                        .before-after__preview.before-after__preview_after.anim.js-after
                           .before-after__img-wrap
                              img.js-after-img(src='/images/apartment/before_img.jpg', alt='')
                              img.js-after-img(src='/images/apartment/before_img_m.jpg', alt='')
                           .before-after__line
                              .before-after__mouse
            .payments-screen
                .main
                    .payments-screen__head
                        img.payments-screen__coin(src=content.img_rub_coin, alt='')
                        .payments-screen__title
                            h2.font_size44 #{content.pay_title}
                    .payments-list
                        .payments-list__item.payments-list__m-flex
                            .payments-list__icon.color_yelow.icon-wallet
                            .payments-list__title.ff_trajan
                                | #{content.cash_1} 
                                br
                                | #{content.cash_2} 
                                br.hide
                                | #{content.cash_3}
                        .payments-list__item.payments-list__item_kredit
                            .payments-list__head.payments-list__m-flex
                                .payments-list__icon.color_yelow.icon-residential
                                .payments-list__title.ff_trajan
                                    | #{content.ipoteka_1} 
                                    br
                                    | #{content.ipoteka_2}
                            .payments-list__bottom.mt30
                                .payments-list__desc.mt5
                                    .font_size14.fw_medium.fade05 #{content.ipoteka_dop_info_1}
                                .payments-list__desc.mt5
                                    .font_size14.fw_medium.fade05 #{content.ipoteka_dop_info_2}
                                .payments-list__desc.mt5
                                    .font_size14.fw_medium.fade05 #{content.ipoteka_dop_info_3}
                        .payments-list__item.payments-list__m-flex
                            .payments-list__icon.color_yelow.icon-government
                            .payments-list__title.ff_trajan
                                | #{content.capital_1} 
                                br.hide
                                | #{content.capital_2} 
                                br
                                | #{content.capital_3}
                        .payments-list__item.payments-list__m-flex
                            .payments-list__icon.payments-list__icon_funds.color_yelow.icon-funds
                            .payments-list__title.ff_trajan
                                | #{content.rosrochka_1} 
                                br
                                | #{content.rosrochka_2}
            .consultation-screen
                .main
                    img.consultation-screen__dots(src='/images/consultation_dots.svg', alt='')
                    .consultation-screen__content
                        h2.font_size44 #{content.p_1} вашей #{content.block_under_ask_quations_title_3_3} для обмена на новую
                        .mt20
                            p.font_size22.ff_trajan.fw_medium.font_upper #{content.vy_poluchite_title}
                        .consultation-list
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | #{content.vy_poluchite_block_1_1} 
                                        br
                                        | #{content.vy_poluchite_block_1_2}
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | #{content.vy_poluchite_block_2_1} 
                                        br
                                        | #{content.vy_poluchite_block_2_2}
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | #{content.vy_poluchite_block_3_1} 
                                        br
                                        | #{content.vy_poluchite_block_3_2}
                        .consultation-screen__form.form-box.form-box_dark
                            .form-box__title.ff_trajan.font_size22 #{content.manager_call_title}
                            form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                input(type='hidden', name='subj', value='Заявка: #{content.button_na_audit}')
                                .input-box.mt30
                                    input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                    label.input-box__icon.icon-telephone
                                <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="dark" data-callback="RecaptchaSuccess"></div>
                                button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='call', disabled)
                                    | #{content.button_na_audit}
                                    span.button__arrow.icon-arrow
                                .polity-box.mt35
                                    .polity-box__dot
                                    .font_size12.fw_medium.fade05
                                        | Вы соглашаетесь с условиями 
                                        br
                                        | обработки персональных данных 
                                        br
                                        a(href='#') ознакомиться
        .main
            .rating-screen
                .rating-screen__rating
                    img(src='/images/rating/rating.png', alt='')
                .head-screen
                    img.rating-screen__house(src='/images/rating/house.png', alt='')
                    h2.font_size44
                        | #{content.stoimost_nedvijimosti_title_1} 
                        br
                        | #{content.stuomost_nedvijimosti_title_2} 
                        br
                        | #{content.stoimost_nedvijimosti_title_3}
                    .mt20
                        p.font_size22.ff_trajan.font_upper
                            | #{content.stoimost_nedvijimosti_title_4} 
                            br
                            | #{content.stoimost_nedvijimosti_title_5}
                    .desc.mt40
                        img.desc__icon(src=content.golden_img, alt='')
                        p.font_size14.fade05.fw_medium
                            | #{content.block_under_stoimost_nedvijimosti_title_1} 
                            br
                            | #{content.block_under_stoimost_nedvijimosti_title_2} 
                            br
                            | #{content.block_under_stoimost_nedvijimosti_title_3}
                .rating-screen__bottom
                    .rating-screen__profit
                        .font_size14.fw_medium #{content.block_about_profit_1}
                        .mt20.rating-screen__persent
                            .font_size120.color_yelow 50%
                        .mt5
                            .font_size22.ff_trajan.fw_medium
                                | #{content.block_about_profit_2} 
                                br
                                | #{content.block_about_profit_3}
                        //- button.button.button_big.button_blue.button_blue2.mt30
                            | #{content.download_form_title_1}
                            span.button__arrow.icon-arrow
            .certification-screen
                h2.font_size44
                    | #{content.company_activity_title_1} 
                    br
                    | #{content.company_activity_title_2} 
                    br
                    | #{content.company_activity_title_3}
                .certification-screen__row.mt20
                    .certification-screen__left
                        .font_size22.ff_trajan
                            | #{content.documentattion_Krasnodar_1} 
                            br
                            | #{content.documentattion_Krasnodar_2}
                    .certification-screen__right
                        .desc
                            img.desc__icon(src=content.golden_img, alt='')
                            p.font_size14.fade05.fw_medium
                                | #{content.block_right_company_activity_title_1} 
                                br
                                | #{content.block_right_company_activity_title_2}
                .certification-slider.mt70
                    include ../include/certification-slider__slide.pug
                    
                    //- .certification-slider__slide
                    //-     .certificat
                    //-         img.certificat__img(src='/images/certification/scan2.jpg', alt='')
                    //-         .certificat__caption
                    //-             .font_size14.fw_medium Сертификат "Система обучения сотрудников Профессионал". Технология Евгения Котова
                    //-         a.fancybox.certificat__zoom(href='/images/certification/scan2_big.jpg', rel='certification')
                    //-             span.certificat__zoom-icon
                    //- .certification-slider__slide
                    //-     .certificat
                    //-         img.certificat__img(src='/images/certification/scan1.jpg', alt='')
                    //-         .certificat__caption
                    //-             .font_size14.fw_medium Сертификат официального партнера ПАО "Сбербанк"
                    //-         a.fancybox.certificat__zoom(href='/images/certification/scan1_big.jpg', rel='certification')
                    //-             span.certificat__zoom-icon
                    //- .certification-slider__slide
                    //-     .certificat
                    //-         img.certificat__img(src='/images/certification/scan3.jpg', alt='')
                    //-         .certificat__caption
                    //-             .font_size14.fw_medium Сертификат "Система обучения сотрудников Профессионал". Технология Евгения Котова
                    //-         a.fancybox.certificat__zoom(href='/images/certification/scan3_big.jpg', rel='certification')
                    //-             span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan2.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan3.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan1.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan2.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan3.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                //- .certification-screen__bottom.mt40
                    .certification-screen__bottom-text
                        .font_size12.fw_medium.fade05
                            | Посмотрите полный пакет 
                            br
                            | разрешительной документации
                    a.button.button_big.button_blue.button_blue2.mt30(href='#')
                        | Посмотреть все документы
                        span.button__arrow.icon-arrow
                    img.certification-screen__folder(src='/images/certification/folder.png', alt='')
        .director-screen
            .main
                img.director-screen__dots(src='/images/director/dots.svg', alt='')
                img.director-screen__director(src='/images/director/director.png', alt='')
                .head-screen
                    img.director-screen__gold(src='/images/director/gold.png', alt='')
                    h2.font_size44
                        | #{content.jilaya_ploshad_title_1}
                        sup 2
                        |  #{content.jilaya_ploshad_title_2}
                    .desc.mt20
                        img.desc__icon(src=content.golden_img, alt='')
                        p.font_size14.fade05.fw_medium
                            | #{content.razresh_documentation_1} 
                            br
                            | #{content.razresh_documentation_2} 
                            br
                            | #{content.razresh_documentation_3}
                    .director-screen__info.mt70
                        .font_size22.fw_medium.ff_trajan
                            | #{content.company_rukovoditeil_1} 
                            br
                            | #{content.company_rukovoditeil_2}
                        .mt15
                            .font_size14.fw_medium #{content.company_rukovoditeil_about_1}
                        .number-text.mt10
                            .font_size120.number-text__number.color_yelow 15
                            .font_size22.ff_trajan.fw_medium
                                br
                                | #{content.company_rukovoditeil_about_2} 
                                br
                                | #{content.company_rukovoditeil_about_3}
                        //- a.button.button_big.button_blue.button_blue2(href='#')
                            | Перейти 
                            br
                            | на страницу 
                            br
                            | #{content.text_near_present_3} 
                            span.icon-right-arrow
        .experts-screen
            .main
                .experts-screen__dots
                    img(src='/images/consultation_dots.svg', alt='')
                .experts-screen__row
                    .experts-screen__left
                        .expert-box
                            // - .expert-box__top
                                .font_size12.fw_medium.fade05
                                    | Лучший менеджер по работе 
                                    br
                                    | с клиентами в ноябре 
                                    br
                                    | 2018 года
                            .expert-box__center
                                .font_size22.ff_trajan.font_upper.fw_medium
                                    | #{content.otdel_rukovoditeil_1}
                                    br
                                    | #{content.otdel_rukovoditeil_2}
                                .mt15
                                    .font_size14.fw_medium
                                        | #{content.otdel_rukovoditeil_about_1} 
                                        br
                                        | #{content.otdel_rukovoditeil_about_2}
                            .expert-box__foto
                                img(src='/images/experts/woman.png', alt='')
                    .experts-screen__right
                        h2.font_size44 #{content.ask_quations_title_1}
                        .mt20
                            p.fw_medium.font_size22.font_upper.ff_trajan #{content.vy_poluchite_title}
                        .consultation-list
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | #{content.vy_poluchite_block_3_1} 
                                        br
                                        | #{content.block_under_ask_quations_title_1_2} 
                                        br
                                        | #{content.block_under_ask_quations_title_1_3}
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | #{content.block_under_ask_quations_title_2_1} 
                                        br
                                        | #{content.block_under_ask_quations_title_2_2} 
                                        br
                                        | #{content.block_under_ask_quations_title_2_3}
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | #{content.block_under_ask_quations_title_3_1} 
                                        br
                                        | #{content.block_under_ask_quations_title_3_2} 
                                        br
                                        | #{content.block_under_ask_quations_title_3_3}
                        .consultation-screen__form.form-box.form-box_dark
                            .z-index2
                                .form-box__title.ff_trajan.font_size22 #{content.title_ask_quations_form}
                                form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                    input(type='hidden', name='subj', value='Заявка: #{content.button_ask_quations}')
                                    .message-list.mt30
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='WhatsApp', name='message', checked='')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.icon-whatsapp
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text WhatsApp
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='Viber', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.message-checkbox__icon_viber.icon-viber
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text Viber
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='Telegram', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.icon-telegram
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text Telegram
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='E-mail', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.message-checkbox__icon_mail.icon-message
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text E-mail
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='Телефон', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.message-checkbox__icon_phone.icon-telephone
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text Телефон
                                    .input-box
                                        input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                        label.input-box__icon.icon-telephone
                                    .input-box.mt30
                                        input.input-text.input-text_border(type='email', name='email', required='', data-parsley-errors-messages-disabled='', placeholder='mail@mail.com')
                                        label.input-box__icon.icon-message
                                    <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="dark" data-callback="RecaptchaSuccess"></div>
                                    button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='ask', disabled)
                                        | #{content.button_ask_quations}
                                        span.button__arrow.icon-arrow
                                    .polity-box.mt35
                                        .polity-box__dot
                                        .font_size12.fw_medium.fade05
                                            | Вы соглашаетесь с условиями 
                                            br
                                            | обработки персональных данных 
                                            br
                                            a(href='#') ознакомиться
        include ../include/popup.pug                                        
        include ../include/footer.pug
